<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pincab.dmdfuse" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>DMD FUSE</name>
    <description>Récepteur DMD pour Pincab Android</description>
    <author>Johan</author>
    
    <content src="index.html" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="ws://*/*" />

    <edit-config href="---/*" id="AndroidManifest.xml" mode="merge" target="app/src/main/AndroidManifest.xml">
        <application android:usesCleartextTraffic="true" />
    </edit-config>

    <preference name="Orientation" value="landscape" />
    <preference name="Fullscreen" value="true" />
    <preference name="BackgroundColor" value="#000000" />
</widget>